*~
*.\#*
\#*
*.pdf
*.autosave
*.aux
*.backup
*.backup*
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
build/
.cache
*.cb
*.cb2
celerybeat-schedule
*.class
*-converted-to.*
*.cover
.coverage
.coverage.*
coverage.xml
dependences/
develop-eggs/
dist/
docs/_build/
*.dvi
*.egg
*.egg-info/
.eggs/
eggs/
.env
env/
ENV/
figures/
*.fls
*.fmt
*.fot
.hypothesis/
.installed.cfg
instance/
.ipynb_checkpoints
*latexmk
lib/
lib64/
*.lof
*.log
login*.py
*.lot
*.lox
*.manifest
.metadata/
*.mo
.mypy_cache/
*.nav
nosetests.xml
*.out
outputs/
parts/
pip-delete-this-directory.txt
pip-log.txt
*.pot
*.pre
*.pyc
__pycache__/
*$py.class
*.py[cod]
.Python
.python-version
.ropeproject
*.run.xml
*.sage.py
.scrapy
*.snm
*.so
*.spec
*.spl
.spyderproject
.spyproject
*.synctex.gz
*.toc
.tox/
.venv
*.vrb
.webassets-cache
~$*
._*
*~
*.\#*
**/._*
\#*
*.a
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
*.aps
*.autosave
*.aux
*.backup
*.backup*
Backup*/
*.bak
*.bbl
[Bb]uild[Ll]og.*
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
.buildpath
.builds
buildvm
buildvm_arch.h
*.cab
.cache
*.cache
cache/*
*.Cache
*.cachefile
*.cb
*.cb2
.clang_complete
*.class
.classpath
*.cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeScripts
*-converted-to.*
*.cover
.cproject
.*crunch*.local.xml
*.cxx_parameters
*.dbmdl
Desktop.ini
develop-eggs
develop-eggs/
*.diff
*.dll
*.dmp
.DS_Store
*.dSYM
*.dvi
*.dylib
*.egg
*.egg
/*.egg-info
*.egg-info
*.egg-info/
eggs
.eggs
.eggs/
eggs/
*.err
.eslintcache
*.esproj
*.exe
*.exp
.externalToolBuilders/
*.fls
*.fmt
*.fot
.ftpconfig
.ftpconfig
.gcc-flags.json
ghostdriver.log
_gh_pages
.git
!.gitkeep
*.gpState
.gradle
.grunt
.idea
.idea*
*.ilk
*.iml
.installed.cfg
.installed.cfg
install_manifest.txt
.ipynb_checkpoints
.ipynb_checkpoints
*.la
*.lai
*latexmk
*.latexmk
*.launch
*.lnk
*.lo
.loadpath
.lock-wscript
*.lof
*.log
logs
logs/
logs/*
# Logs
*.lot
*.lox
luajit
*.lwp
*.manifest
*.manifest
*.meta
.metadata
.metadata/
minilua
*.mo
*.mo
*.msi
*.msm
*.msp
.mypy_cache/
*.nav
*.ncb
*.ncrunch*
*~.nib
.npm
npm-debug.log
npm-debug.log*
.nyc_output
*.o
*.[oa]
*.obj
*.opensdf
*.orig
*.out
package-lock.json
packages
*.patch
*_p.c
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pid
*.pidb
*.pid.lock
.pioenvs
.piolibdeps
pip-delete-this-directory.txt
pip-log.txt
*.pot
*.pot
*.[Pp]ublish.xml
*.pre
.project
*.psess
*.publishsettings
*.Publish.xml
*.pubxml
*.py~
.pyc
*.pyc
__pycache__/
_*
*$py.class
*$py.class
*.py[co]
*.py[cod]
*.py[cod]
.pydevproject
*.pydevproject
*.pyo
pysrc/
.Python
.Python
.python-version
.python-version
.qmake.stash
$RECYCLE.BIN/
*.rej
.ropeproject
.ropeproject
*.rsp
.ruby-version
*.run.xml
*.sage.py
/.sass-cache/
.sass-cache#################
*.sbr
*.scc
.scrapy
.scrapy
*.sdf
*.seed
.settings
.settings/
setuptools-*
*.sln
*.sln.docstates
*.slo
*.snm
*.so
*.so
*.spec
*.spec
*.spl
.spyderproject
.spyproject
*.sublime-project
*.sublime-workspace
*.suo
*.swn
.*.swo
*.swo
.swp
.*.swp
*.swp
*.synctex.gz
Thumbs.db
*.tlb
*.tlh
*.tli
*.tmp_proj
.tmproj
*.toc
.tox
.tox/
.Trashes
UpgradeLog*.htm
UpgradeLog*.XML
*.user
*.userbuild
*.vcproj
.venv
venv/
*.vi
*.vrb
/.vs
.vscode/
vscode-chrome-debug.txt
*.vsix
*.vsp
*.vspscc
*.vspx
*.vssscc
.webassets-cache
.webassets-cache
